<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/img/icono.png">
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>

<body >


    <header class="header">

        <div class="menu container">
            <a href="#" class="logo"></a>
            <input type="checkbox" id="menu" />

            <nav class="navbar" data-aos="fade-right">
                <ul>
                    <li>
                        <a href="../index.html">Sobre Mi</a>
                    </li>
                    <li>
                        <a href="proyectos.html">Proyectos</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="perfil d-flex align-items-center gap-4" data-aos="fade-right">
          <div class="img-perfil">
              <img src="../static/img/img.jpg" alt="Foto de perfil">
          </div>
          <div class="info-perfil">
              <h2 class="nombre text-white">Matias Villalobos Araya</h2>
              <p class="titulo text-light">Ingeniero Civil Informático | Desarrollador FullStack Junior</p>
          </div>
      </div>
    </header>

    <section class="seccion-contacto container py-5" data-aos="fade-up">
        <h2 class="text-center mb-4">Contacto</h2>
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <p>
                <i class="bi bi-envelope-fill"></i>
                 <strong>Email:</strong> <a href="matiasaraya.ig01@gmail.com">matiasaraya.ig01@gmail.com</a> </p>
            <p>
                <i class="bi bi-phone-fill"></i>
                 <strong>Teléfono:</strong> +56 9 8278 2175</p>
      
            <a href="../static/documentos/CV_Ultimo_MatiasVillalobos_11-04-2025.pdf" download class="btn btn-primary mt-3">
              <i class="bi bi-file-earmark-arrow-down-fill"></i> Descargar CV
            </a>
          </div>
        </div>
      </section>
      
    

    
  


    <footer class="footer">
        <div class="footer-content container">
            <p>© 2025 Matias Ignacio Villalobos Araya. Todos los derechos reservados.</p>
            <a href="https://www.linkedin.com/in/matias-ignacio-villalobos-araya-a7a588285/" target="_blank"
                class="linkedin-icon">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

</body>

</html>